/*TODO:

*/
html {
    font-family: Inter, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;

    /*size variables */
    --header-height: 50px;
    --footer-height: 61px;
    --aside-height: calc(100vh - var(--header-height));
    --video-main-width: 750px;
    --video-main-height: 300px;

    --body-top-section-margin: 1rem;

    --aside-width: 250px;
    --main-margin: 2rem;

    --main-width: calc(100vw - (250px + (4rem)));
    --main-free-space: calc(var(--main-width) - (750px + 80px + 12rem));

    --free-space-unit: calc(var(--main-free-space) / 4);

    --main-header-color: #ffffff;
    --main-aside-color: #efeff1;
    --main-footer-color: #5c16c5;
    --purple-text: #6310c3;
    --purple-category: #8027e6;
    --main-red: #f00;
    --main-purple: #9b43fd;
    --main-main-color: #f7f7f8;
    --button-color: #f2f2f2;
    --search-bar-gray: #e5e5e5;

    /*color variables */

}

* {
    margin: 0px
}

body {
    height: 200vh;
    margin: 0px;
    padding: 0px;
}

header {
    height: var(--header-height);
    width: 100%;
    top: 0px;
    position: fixed;
    background-color: var(--main-header-color);
    display: flex;

    z-index: 9999;
}

p{
    margin: 0px;
    font-size: .9rem;
}

#header-icon-section {
    display: flex;
}

#header-search-section {
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
    gap: 1px;
    justify-content: center;
    flex: 1 1 0;
}

#header-search-input{
    width: 40%;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    border-color: transparent;
    background-color: var(--search-bar-gray);
    padding-left: 1rem;
    
}

#header-search-input:hover{
    border: #b7b6b6 2px solid;
}

#header-search-input:focus{
    outline: var(--main-purple);
    border: var(--main-purple) 2px solid;
}


#header-search-button{
    border: 0px;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

#header-search-button:hover{ 
    background-color: var(--search-bar-gray);
}
#header-search-input-icon{
    filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(0%) hue-rotate(235deg) brightness(107%) contrast(107%);
}
/* Breakpoints for search bar
700px:
when smaller join search icon to right icon section
and turn browser button into the copy icon.

*/
#header-icon-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    height: 50px;
    width: 50px;
    background-color: white;
    border: 0px;
}
#header-header-icon-button-logo {
    margin: 0px;
}

.purple-link{
    height: 100%;
    width: fit-content;
    background-color: transparent;
    border: 0px;
}

.purple-link:hover{
    color: var(--purple-text);
}
#header-browse{ 
    font-size: .9rem;
    font-weight: bold;
}

#header-icon-section{
    display: flex; 
    align-items: center;
    gap: .5rem;
    padding-right: .5rem;
}
.icon-button{ 
    height: 30px;
    width: 30px;
    display: flex; 
    justify-content: center;
    align-items: center;
    border: 0px;
    background-color: transparent;
    border-radius: 10%;
}

.icon-button:hover{
    background-color: var(--search-bar-gray);
}

.header-icon{ 
    height: 20px;
    width: 20px;

    filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(0%) hue-rotate(235deg) brightness(107%) contrast(107%); 
}

.top-bar-icon{ 
    font-weight: bold;
    padding: .5rem;
    border: 0px;
    border-radius: 5px;
}

#login:hover{
    background-color: var(--search-bar-gray);
}

#signup{
    background-color: var(--main-purple);
    color: white;
}

#signup:hover{
    background-color: var(--purple-text)
}

nav {
    /*Why does the calc not work here? */
    height: var(--aside-height);
    width: 50px;
    top: var(--header-height);
    position: fixed;
    background-color: var(--main-aside-color);
    /* Breakpoints for long sidebar
        1000px
    */
    display: flex;
    flex-direction: column;
}

#nav-menu {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

#nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem;
}

#nav-header-text{
    font-size: .8rem;
    font-weight: 600;
}

#nav-menu>li {
    display: grid;
    grid-template-columns: 40px 3fr 1fr;
    grid-template-rows: 15px 15px;
    padding: .5rem;
}

#nav-menu>li:hover{
    background-color: var(--search-bar-gray);
}

#nav-menu-icon {
    height: 30px;
    width: 30px;
    background-color: lightgray;
    border-radius: 50%;

    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#nav-menu-streamer {
    grid-column: 2/3;
    grid-row: 1/2;
}

#nav-menu-game {
    grid-column: 2/3;
    grid-row: 2/3
}

#nav-menu-viewers-div {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#nav-menu-viewers-icon {
    height: 0.5rem;
    width: 0.5rem;
    background-color: red;
    border-radius: 50%;
}

main {
    width: calc(100% - 50px - 4rem);
    top: var(--header-height);
    position: absolute;
    left: 50px;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    min-width: 750px + 80px + 12rem;
    padding-bottom: 5rem;
    background-color: var(--main-main-color)
}

main>section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#body-top-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

}

#body-top-section>button {
    margin-right: 0rem;
}

#body-top-section>img {
    flex: 1;
    height: 24px;
}

#body-top-section-videos {
    position: relative;
}

#body-top-section-videos-main {
    width: 750px;
    height: 300px;
    display: flex;
}

.body-top-section-videos-secondary {
    width: 637.5px;
    height: 255px;
    background-color: blue;
    z-index: 2;
    position: absolute;
    top: calc((100% - 255px)/2);

}
.background-video{
    transition: scale 1s;

}

.body-top-section-videos-tertiary {
    width: 525px;
    height: 210px;
    background-color: purple;
    z-index: 1;
    position: absolute;
    top: calc((100% - 210px)/2);
}

#secondary-left {
    left: calc(var(--free-space-unit) * -1);
}

.background-video:hover{ 
    scale: 1.01;
}

#tertiary-left {
    left: calc(var(--free-space-unit) * -2);
}

#secondary-right {
    right: calc(var(--free-space-unit) * -1);
}

#tertiary-right {
    right: calc(var(--free-space-unit) * -2);
}

#body-top-section-videos-main-media {
    width: 530px;
    background-color: pink;
    z-index: 10;
    position: relative;
}

.live-icon {
    background-color: var(--main-red);
    color: white;
    margin: 10px;
    padding: 2px;
    border-radius: 7%;
    width: fit-content;
    font-size: .8rem;
    z-index: 10;
    height: fit-content;
    font-size: .7rem;
}

#live-icon-top{
    position: absolute;
}

#main-video-live{
    position: abolute;
}

#hover-overlay {
    display: flex;
    align-items: flex-end;

    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 100%);
}

#body-top-section-videos-main-media:hover>#hover-overlay{
    opacity: .3;
}

#body-top-section-videos-main-media:hover>#video-options{
    opacity: 1;
}

#video-options{
    width: 100%;
    display: flex; 
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    z-index: 10;
    opacity: 0;
}



#left-side-options{
    display: flex;
    align-items: center;
    padding: 5px;
}

#right-side-options{
    display: flex;
    align-items: center;
    padding: 5px;
}

.video-button{ 
    width: 30px; 
    height: 30px;
    background-color: transparent;
    border: 0px;
}


#body-top-section-videos-main-textbox {
    width: 220px;
    z-index: 10;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
}

#main-profile-section{
    display: flex;
    gap: .5rem;
}

#main-profile-section-icon{
    width: 50px;
    height: 50px;
    background-color: #5c16c5;
    border-radius: 50%;
}

#main-profile-section-text{
    display: flex;
    flex-direction: column;
    gap: 2px;

}

#main-profile-section-text-name{
    font-weight: bold;
    color: #772ce8;
}

#main-profile-section-text-game{
    color: #772ce8;
    font-size: .9rem;

}

#main-profile-section-text-viewers{
    display: block;
}


.category-button{
    border-radius: 2rem;
    font-size: .8rem;
    font-weight:bold;
    border: 0px;
    color: #0e0e10;
    background-color: #efeff1;
}

.category-button:hover{
    background-color: var(--search-bar-gray);
}




#body-channel-recommendation {
    display: flex;
    flex-direction: column;
}

#body-channel-recommendation>label, .section-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.viewers-icon{
    background-color: black;
    height: fit-content;
    width: fit-content;
    color: white;
    font-size: 0.8rem;
    border-radius: 2px;
    padding: 3px;
    margin: .5rem;
}

#body-channel-recommendation-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

#body-channel-recommendation-group-channel {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 5px;
}

#body-channel-recommendation-group-channel-video {
    aspect-ratio: 2.5/1.3;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

#body-channel-recommendation-group-channel-info {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 20px 20px 20px 30px;
    column-gap: 5px;
}

#body-channel-recommendation-group-channel-info-icon {
    height: 40px;
    width: 40px;
    background-color: gray;
    border-radius: 50%;
    grid-column: 1/2;
    grid-row: 1/3
}

#body-channel-recommendation-group-channel-info-name {
    grid-column: 2/3;
    grid-row: 1/2;
}

#body-channel-recommendation-group-channel-info-streamer {
    grid-column: 2/3;
    grid-row: 2/3;
}

#body-channel-recommendation-group-channel-info-game {
    grid-column: 2/3;
    grid-row: 3/4;
}

#body-channel-recommendation-group-channel-info-tags {
    display: flex;
    grid-column: 2/3;
    grid-row: 4/5;
    padding-top: 5px;
    padding-bottom: 5px;
}

#body-channel-recommendation-group-channel-info-tags>button {
    margin-right: 5px;
}

#body-channel-recommendation-divider {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

#body-channel-recommendation-divider-line {
    height: 1px;
    flex: auto;
    background-color: lightslategray;
}

#body-channel-recommendation-divider-button {
    display: flex; 
    gap: .25rem;
    border: 0px;
    background-color: transparent;
    margin-left: 25px;
    margin-right: 25px;
    padding: .5rem;
    color: var(--purple-text);
    border-radius: .3rem;
    font-weight: bold;
}

#body-channel-recommendation-divider-button:hover{
    background-color: var(--search-bar-gray);   
}


#body-category-recommendation {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#body-category-recommendation-group {
    display: flex;
    gap: 10px;
}

#body-category-recommendation-group-entry-title {
    display: block;
}


#body-category-recommendation-group-entry {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: .25rem;
}

#body-category-recommendation-group-entry-icon {
    background-color: gray;
    width: 100%;
    aspect-ratio: 1/1.5;
}

#body-category-recommendation-group-entry-tags {
    display: flex;
    gap: 5px;
}

#body-category-recommendation-divider {
    height: 1px;
    background-color: gray;
}

#body-category-recommendation-tags {
    display: flex;
    gap: 10px;
}

.body-category-recommendation-tags-button {
    flex-grow: 1;
    height: 50px;
    border: 0px;
    background-color: var(--purple-category);
    border-radius: .5rem;

    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.body-category-recommendation-tags-button:hover {
    background-color: var(--purple-text);
}

.body-category-recommendation-tags-button>h1 {
    color: white;
}
footer {
    height: var(--footer-height);
    width: 100%;
    top: calc(var(--aside-height));
    position: fixed;
    background-color: var(--main-footer-color);
    z-index: 9999;
}

@media only screen and (min-width: 1000px) {
    nav {
        width: 250px;
    }

    main {
        width: calc(100% - 4rem - 250px);
        left: 250px;
    }
}